html,
body {
	margin: 0;
	font-size: 100%;
	font-family: 'Montserrat', sans-serif;
	background: #fff;
}

body a {
	text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	border: 0;
	width: 100%;
}

div {
	display: block;
}

ul {
	margin: 0;
	padding: 0;
}

h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

p {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}


/*导航条样式*/

.content.white {
	background: #fff;
}

.content {
	margin: 0;
	padding: 0px;
}

.navbar-default {
	background-color: #fff;
	border-color: #fff;
}

.navbar {
	position: relative;
	/*设置导航条高度*/
	min-height: 50px;
	margin-bottom: 0!important;
	border: 1px solid transparent;
}

.navbar-default .navbar-toggle {
	border-color: #202020;
}

.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 0;
	padding: 9px 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: #282828;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0;
}

.navbar-brand {
	float: left;
	padding: 0!important;
	font-size: 18px;
	line-height: 0px!important;
	height: 0px!important;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.29);
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
	color: #fff;
	background: #ed1b2e;
}

.navbar-nav {
	float: right;
	margin: 0;
}

.navbar-nav>li {
	float: left;
	margin: 0 5px;
}

.navbar-default .navbar-nav>li>a {
	color: #282828;
	letter-spacing: 1px;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
	padding: 15px 22px;
	margin: 1em 0;
}

.dropdown-menu {
	border-radius: 0px;
}

.dropdown-menu {
	min-width: 150px;
	padding: 0px 0;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}

.navbar-header a.navbar-brand h1 {
	color: #0099cc;
	color: #03C5E2;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 40px;
	margin-top: 16px;
}

.dropdown-menu li a {
	padding: 12px 15px;
	color: #282828;
	letter-spacing: 1px;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #111;
}

@media (max-width: 1080px) {
	.navbar-default a.navbar-brand h1 {
		font-size: 37px;
		margin-top: 18px;
	}
	.navbar-default .navbar-nav>li>a {
		font-size: 13px;
		padding: 14px 20px;
		margin: 1em 0;
	}
}

@media (max-width: 991px) {
	.navbar-header a.navbar-brand h1 {
		font-size: 32px;
	}
	.navbar-default .navbar-nav>li>a {
		font-size: 13px;
		padding: 12px 12px;
	}
	.navbar-nav>li {
		margin: 0 2px;
	}
}

@media (max-width: 768px) {
	.navbar-default a.navbar-brand h1 {
		font-size: 30px;
		margin-left: 1em;
	}
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav>li>a {
		font-size: 14px;
		padding: 10px 14px;
		text-align: center;
		margin: .5em 0;
	}
	.navbar {
		min-height: 60px;
	}
	div#bs-example-navbar-collapse-1 {
		position: absolute;
		z-index: 999;
		width: 100%;
	}
	.navbar-toggle {
		margin-right: 20px;
		margin-top: 15px;
	}
	.navbar-toggle {
		margin-right: 20px;
		margin-top: 15px;
	}
	.navbar-nav {
		float: left;
		margin: 0;
		margin-left: 0em;
		width: 100%;
		background: #eee;
		margin-top: 1em;
	}
	.navbar-nav {
		margin-top: 0em;
		padding: 1em 0;
	}
	.navbar-nav>li {
		float: none;
		width: 25%;
		margin: 0 auto;
	}
}

@media (max-width: 600px) {
	.navbar-nav>li {
		width: 30%;
	}
}

@media (max-width: 480px) {
	.navbar-nav>li {
		width: 35%;
	}
	.navbar-nav>li {
		width: 30%;
	}
}

@media (max-width: 414px) {
	.navbar-default .navbar-nav>li>a {
		font-size: 13px;
		padding: 8px 14px;
		margin: .3em 0;
	}
	.navbar-nav>li {
		width: 42%;
	}
}

@media (max-width: 384px) {
	.navbar-default .navbar-nav>li>a {
		font-size: 13px;
		padding: 9px 14px;
	}
}


/*轮播*/

.carousel-indicators {
	bottom: 5%;
	left: 50%;
}

.carousel-indicators .active {
	width: 14px;
	height: 14px;
	border: 1px solid #ed1b2e;
	background-color: #ed1b2e;
}

.carousel-indicators li {
	width: 14px;
	height: 14px;
	border: 1px solid #fff;
	background-color: #fff;
}

.carousel .item {
	background: -webkit-linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../img/banner2.png) repeat;
	background: -moz-linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../img/banner2.png) repeat;
	background: -ms-linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../img/banner2.png) repeat;
	background: linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../img/banner2.png) repeat;
}

.carousel .item.item2 {
	background: -webkit-linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../img/banner5.png) repeat;
	background: -moz-linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../img/banner5.png) repeat;
	background: -ms-linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../img/banner5.png) repeat;
	background: linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../img/banner5.png) repeat;
}

.carousel .item.item3 {
	background: -webkit-linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../img/banner1.png) repeat;
	background: -moz-linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../img/banner1.png) repeat;
	background: -ms-linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../img/banner1.png) repeat;
	background: linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../img/banner1.png) repeat;
}

.carousel .item.item4 {
	background: -webkit-linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../img/banner4.png) repeat;
	background: -moz-linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../img/banner4.png) repeat;
	background: -ms-linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../img/banner4.png) repeat;
	background: linear-gradient(rgba(23, 22, 23, 0), rgba(23, 22, 23, 0)), url(../img/banner4.png) repeat;
}

.carousel-caption {
	position: inherit;
	min-height: 650px!important;
	padding-top: 5em;
	text-align: center;
}

.carousel-caption h2,
.carousel-caption h3 {
	font-size: 2.5em;
	margin-top: 3em;
	line-height: 55px;
	text-transform: uppercase;
}

.carousel-caption h2 span,
.carousel-caption h3 span {
	font-weight: 600;
}

.carousel-caption p {
	letter-spacing: 2px;
	font-size: 1em;
	color: #fff;
	line-height: 30px;
	margin: 1em 0 2em 0;
}

.carousel-caption a {
	color: #fff;
	letter-spacing: 1px;
	padding: 13px 20px;
	background: none;
	font-size: 0.9em;
	border-radius: 0;
	border: 1px solid #fff;
}

.hvr-bounce-to-right {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

a.read,
a.read2 {
	font-size: 1em;
	letter-spacing: 2px;
	background: rgba(245, 245, 245, 0.3);
	background: #03C5E2;
	/*边角*/
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.carousel-caption a span.fa {
	margin-right: 10px;
}

.carousel-control {
	line-height: 32em;
}

.read:hover {
	text-decoration: none;
	color: #03C5E2;
	background-color: white;
}

@media (max-width: 1440px) {
	.slider_right {
		padding: 0 5em;
	}
}

@media (max-width: 1366px) {
	.slider_right {
		padding: 0 4em;
	}
}

@media (max-width: 1280px) {
	.carousel-caption {
		min-height: 600px!important;
	}
	.carousel-caption h2,
	.carousel-caption h3 {
		font-size: 2.3em;
	}
}

@media (max-width: 1080px) {
	.carousel-caption {
		min-height: 560px!important;
	}
	.carousel-caption h2,
	.carousel-caption h3 {
		font-size: 2em;
	}
	a.read,
	a.read2 {
		font-size: 14px;
		letter-spacing: 1px;
	}
	.slider_right {
		padding: 0 3em;
	}
}

@media (max-width: 1024px) {
	.carousel-caption {
		min-height: 540px!important;
	}
}

@media (max-width: 991px) {
	.slider_left,
	.slider_right {
		width: 50%;
		float: left;
		padding: 0 5px;
	}
	.carousel-caption p {
		letter-spacing: 1px;
	}
}

@media (max-width: 736px) {
	.carousel-indicators {
		bottom: 0%;
	}
	.carousel-caption {
		padding-top: 3em;
	}
	.slider_left,
	.slider_right {
		width: 80%;
		float: none;
		margin: 0 auto;
		padding: 0 5px;
	}
	.carousel-caption h2,
	.carousel-caption h3 {
		margin-top: 1em;
	}
}

@media (max-width: 640px) {
	.slider_right {
		padding: 1em 5em 0;
	}
}

@media (max-width: 480px) {
	.carousel-indicators li {
		width: 10px;
		height: 10px;
	}
	.carousel-caption {
		padding-top: 3em;
	}
	.carousel-caption h2,
	.carousel-caption h3 {
		font-size: 1.5em;
		margin-top: 0em;
		line-height: 35px;
	}
	.carousel-caption p {
		letter-spacing: .5px;
		font-size: .9em;
		line-height: 26px;
	}
	a.read,
	a.read2 {
		font-size: 14px;
		padding: 10px 15px;
		letter-spacing: 1px;
	}
	.slider_right {
		padding: 2em 5em 2em;
	}
}

@media (max-width: 414px) {
	.slider_left,
	.slider_right {
		width: 90%;
	}
	.slider_right {
		padding: 2em 3em 1em;
	}
}

@media (max-width: 384px) {
	.slider_left {
		padding: 0 5px;
	}
	.slider_left,
	.slider_right {
		width: 95%;
	}
}


/*welcome*/

.welcome {
	padding: 5em 0;
}

#video {
	position: relative;
	background: #ed1b2e;
	width: 100%;
	margin: 0px auto;
}

.video-grid-single-page-agileits img {
	width: 100%;
}

#video img,
#video iframe {
	display: block;
	width: 100%;
}

h3.agileits-title {
	color: #333;
	font-size: 2.5em;
	font-weight: 700;
	margin-bottom: .7em;
	margin-top: .4em;
	line-height: 0.9em;
}

.welcome_left h4 {
	color: #333;
	font-size: 1.4em;
	text-transform: capitalize;
	border-left: 3px solid #03C5E2;
	padding-left: 1em;
	margin: 0 0 1em;
	line-height: 1.6em;
	letter-spacing: 1px;
}

.welcome_left p {
	font-size: 15px;
	color: #666;
	line-height: 1.8em;
	letter-spacing: 1px;
}

@media (max-width: 1280px) {
	h3.agileits-title {
		font-size: 2em;
	}
	.welcome_left h4 {
		font-size: 1.3em;
	}
}

@media (max-width: 1080px) {
	.welcome_left h4 {
		font-size: 1.2em;
	}
	.welcome_left p {
		font-size: 14px;
	}
}

@media (max-width: 991px) {
	h3.agileits-title {
		font-size: 1.6em;
		margin-top: 1em;
	}
	.welcome-w3lright {
		width: 60%;
	}
}

@media (max-width: 800px) {
	.popular-section-wthree,
	.stats,
	.gallery,
	.about,
	.popular_cakes,
	.contact-section,
	.blog,
	.codes,
	.testimonials,
	.blog,
	.footer,
	.welcome,
	.team,
	.about_section,
	.typo,
	.w3_wthree_agileits_icons.main-grid-border {
		padding: 4em 0;
	}
}

@media (max-width: 640px) {
	.popular-section-wthree,
	.stats,
	.gallery,
	.about,
	.popular_cakes,
	.contact-section,
	.blog,
	.codes,
	.testimonials,
	.blog,
	.footer,
	.welcome,
	.team,
	.about_section,
	.typo,
	.w3_wthree_agileits_icons.main-grid-border {
		padding: 3em 0;
	}
	.welcome_left h4 {
		font-size: 1.1em;
	}
}

@media (max-width: 600px) {
	.welcome_left h4 {
		font-size: 1em;
	}
	.welcome_left p {
		font-size: 13.5px;
	}
}

@media (max-width: 568px) {
	.welcome-w3lright {
		width: 70%;
	}
}

@media (max-width: 414px) {
	h3.agileits-title {
		font-size: 1.4em;
	}
	.welcome-w3lright {
		width: 80%;
	}
}

@media (max-width: 384px) {
	.welcome-w3lright {
		width: 100%;
	}
}

.team,
.footer,
.about,
.services,
.testimonials {
	padding: 4em 0;
}


/*know more about*/

.about {
	padding: 5em 0;
	background: url(../img/tt.jpg) no-repeat 0px 0px;
	background-size: cover;
}

.wthree_head_section {
	text-align: left;
}

h3.heading {
	color: #000;
	font-size: 40px;
	font-weight: 300;
	margin-bottom: 1em;
	text-align: center;
	text-transform: capitalize;
}

.team h3.heading,
.about h3.heading {
	color: #fff;
}

.about h4 {
	font-size: 1.8em;
	margin: 1em 0 0.5em 0;
	color: #fff;
	letter-spacing: 1px;
	font-weight: 500;
}

.about_agileinfo p {
	line-height: 28px;
	font-size: 15px;
	margin-top: 1em;
	color: #a5a5a5;
	letter-spacing: 1px;
}

.mid-inner-info {
	margin-top: 2em;
}

.mid-inner-sec span {
	font-size: 2.3em;
	margin-bottom: 0.5em;
	color: #03C5E2;
}

.mid-inner-info h5 {
	font-size: 1.3em;
	margin-bottom: .7em;
	font-weight: 400;
	color: #fff;
	letter-spacing: 1px;
}

.about_agileinfo p {
	line-height: 28px;
	font-size: 15px;
	margin-top: 1em;
	color: #a5a5a5;
	letter-spacing: 1px;
}

@media (max-width: 1080px) {
	h3.heading {
		font-size: 35px;
	}
	.about h4 {
		font-size: 1.5em;
	}
	.about_agileinfo p {
		font-size: 14px;
		letter-spacing: .5px;
	}
	.mid-inner-sec {
		padding: 0 6px;
	}
	.mid-inner-info h5 {
		font-size: 1.2em;
	}
}

@media (max-width: 991px) {
	.mid-inner-sec {
		width: 50%;
		float: left;
	}
}

@media (max-width: 800px) {
	.about h4 {
		font-size: 1.4em;
	}
	.mid-inner-sec span {
		font-size: 2em;
	}
}

@media (max-width: 768px) {
	h3.heading {
		font-size: 30px;
	}
}

@media (max-width: 480px) {
	.team,
	.footer,
	.about,
	.services,
	.testimonials {
		padding: 3em 0;
	}
	h3.heading {
		font-size: 26px;
	}
	.mid-inner-sec {
		width: 100%;
		float: none;
	}
	.one {
		margin-bottom: 1em;
	}
}

@media (max-width: 414px) {
	.about h4 {
		font-size: 1.2em;
	}
}

@media (max-width: 384px) {
	.mid-inner-sec span {
		font-size: 1.5em;
	}
	.mid-inner-info h5 {
		font-size: 1.1em;
	}
	.about_agileinfo p {
		font-size: 13.5px;
		letter-spacing: .4px;
	}
}


/*more popular cake*/

.popular_cakes {
	padding: 5em 0;
}

.cakes_grid1 {
	-webkit-box-shadow: 0px 1px 12px -3px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 1px 12px -3px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 1px 12px -3px rgba(0, 0, 0, 0.75);
	padding-bottom: 1em;
}

.cakes_grid1 h3 {
	text-align: center;
	font-size: 23px;
	color: #292929;
	margin: 1em 0 0;
}

.cakes_grid1 p {
	text-align: center;
	font-size: 15px;
	color: #777;
	letter-spacing: 1px;
	margin: .5em 0;
}

.cakes_grid1 a:hover {
	text-decoration: none;
}

.cakes_bottom_grids {
	margin-top: 2em;
}

@media (max-width: 991px) {
	.cakes_grids .col-md-4 {
		width: 50%;
		float: left;
	}
}

@media (max-width: 800px) {
	.cakes_grid1 h3 {
		font-size: 20px;
	}
}

@media (max-width: 600px) {
	.cakes_grids .col-md-4 {
		width: 80%;
		float: none;
		margin: 0 auto 1em;
	}
}

@media (max-width: 414px) {
	.cakes_grids .col-md-4 {
		width: 95%;
	}
}


/*our staff*/

div#team {
	background: #171616;
	background: #0b0c11;
}

.team .social-icon {
	position: absolute;
	background: #171616;
	background: #0b0c11;
	padding: 10px;
	padding-bottom: 5px;
	bottom: -10%;
	left: 15%;
}

.testimonials-grids {
	width: 80%;
	margin: 3em auto 0;
}

.wmuSlider {
	position: relative;
	overflow: hidden;
}

.banner-wrap {
	padding: 0 0 4em;
}

.testimonials-grid-left img {
	margin: 0 auto;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	border: 2px solid #555;
}

.agileits_team_grid {
	background: rgba(16, 16, 16, 0.48);
	background: transparent;
	text-align: center;
	padding: 2em 1em;
	border: 2px solid #999;
	position: relative;
}

.agileits_team_grid_figure img {
	border: 3px solid #999;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	margin: 0 auto;
	text-align: center;
	width: 160px;
	height: 160px;
}

.agileits_team_grid h4 {
	font-size: 1.3em;
	color: #03C5E2;
	margin: 1em 0 .5em;
}

.testimonials-grid-right p {
	padding-left: 0em;
	text-align: center;
	margin: 25px auto;
	width: 85%;
	color: #555;
	line-height: 2em;
	font-size: 14px;
	letter-spacing: 1px;
}

.testimonials-grid-right h4 {
	font-size: 1.5em;
	color: #03C5E2;
	text-align: center;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.wmuSliderPagination {
	z-index: 2;
	position: absolute;
	left: 47%;
	bottom: 6%;
}

ul.wmuSliderPagination {
	padding: 0;
}

.wmuSliderPagination li {
	float: left;
	margin: 0 8px 0 0;
	list-style-type: none;
}

.wmuSliderPagination a {
	display: block;
	text-indent: -9999px;
	width: 12px;
	height: 12px;
	background: #333;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
	-ms-border-radius: 50px;
}

.wmuSliderPagination a.wmuActive {
	background: #ed1b2e;
	box-shadow: 0px 0px 10px #3D99DC;
	-webkit-box-shadow: 0px 0px 10px #3D99DC;
	-moz-box-shadow: 0px 0px 10px #3D99DC;
	-o-box-shadow: 0px 0px 10px #3D99DC;
	-ms-box-shadow: 0px 0px 10px #3D99DC;
}

@media (max-width: 1080px) {
	.team .col-md-3 {
		padding: 0 5px;
	}
	.team .social-icon {
		left: 9%;
	}
}

@media (max-width: 991px) {
	.team .social-icon {
		left: 19%;
	}
	.team .agileits_team_grid {
		margin-bottom: 2em;
	}
	.team .col-md-3 {
		padding: 0 20px;
		width: 50%;
		float: left;
	}
}

@media (max-width: 768px) {
	.team .social-icon {
		left: 21%;
	}
}

@media (max-width: 667px) {
	.team .social-icon {
		left: 16%;
	}
}

@media (max-width: 600px) {
	.team .social-icon {
		left: 12%;
	}
}

@media (max-width: 568px) {
	.team .social-icon {
		left: 9%;
	}
}

@media (max-width: 480px) {
	.team .social-icon {
		left: 7%;
		padding: 5px;
	}
	.team .col-md-3 {
		padding: 0 5px;
		width: 50%;
		float: left;
	}
}

@media (max-width: 414px) {
	.team .social-icon {
		left: 13%;
	}
	.team .col-md-3 {
		padding: 0 5px;
		width: 70%;
		float: none;
		margin: 0 auto;
	}
}

@media (max-width: 384px) {
	.agileits_team_grid h4 {
		font-size: 1.2em;
		margin: 1em 0 0em;
	}
	.team .col-md-3 {
		width: 80%;
	}
}


/*custume*/

.testimonials-grid-left img {
	margin: 0 auto;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	border: 2px solid #555;
}

.social-button {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0 3px;
	line-height: 32px;
	text-align: center;
	position: relative;
	overflow: hidden;
	opacity: .99;
}

.social-button.twitter .fa {
	color: #3CF;
}

.social-button.google .fa {
	color: #DC4A38;
}

.social-button.dribbble .fa {
	color: #F26798;
}


/*<!--描写-->*/

.subscribe {
	background: #ed1b2e;
	padding: 4em 0;
}

.subscribe h3.heading {
	color: #ffffff;
}

.subscribe-grid {
	text-align: center;
	width: 80%;
	margin: 2em auto 0;
}

.subscribe-grid input[type="email"] {
	display: inline-block;
	background: #FFFFFF;
	border: solid 1px #fff;
	width: 60%;
	outline: none;
	padding: .7em;
	font-size: 1em;
	color: #999999;
}

.subscribe-grid button.btn1 {
	color: #ffffff;
	font-size: 1em;
	border: solid 1px #03C5E2;
	width: 70px;
	padding: .7em;
	text-align: center;
	text-decoration: none;
	background: #03C5E2;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

@media (max-width: 1080px) .testimonials-grid-right p {
	width: 100%;
}

@media (max-width: 800px) {
	.subscribe {
		padding: 3em 0;
	}
}

@media (max-width: 640px) {
	.subscribe {
		padding: 2em 0;
	}
	.subscribe-grid input[type="email"] {
		font-size: .9em;
	}
	.subscribe-grid button.btn1 {
		padding: .6em;
	}
}

@media (max-width: 568px) {
	.subscribe-grid {
		text-align: center;
		width: 90%;
		margin: 1em auto 0;
	}
}


/*footer*/

.footer {
	padding-bottom: 3em;
}

.footer {
	background: url(../img/footer.jpg) no-repeat fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
}

.w3_agile_footer_grid h3 {
	font-size: 25px;
	color: #fff;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid rgba(251, 251, 251, 0.18);
}

.w3_agile_footer_grid li {
	color: #eee;
	font-size: 15px;
	letter-spacing: 1px;
	margin-bottom: 5px;
	list-style-type: none;
	padding-right: 10px;
}

.right li span {
	float: right;
	font-size: 14px;
}

.right li span.fa {
	float: none;
	font-size: 14px;
	color: #ed1b2e;
	padding-right: 1em;
}

.agileits_w3layouts_footer_grid_list li {
	list-style-type: none;
	margin-bottom: 1em;
	color: #999;
}

.agileits_w3layouts_footer_grid_list li span {
	color: #ed1b2e;
	padding-right: 1em;
}

.agileits_w3layouts_footer_grid_list li a {
	color: #fff;
	text-decoration: none;
	letter-spacing: 1px;
	font-size: 14px;
}

.w3ls_footer_grid_left {
	text-align: center;
	margin: 10px 0;
}

.w3l-icon {
	float: left;
	width: 15%;
	text-align: left;
}

.w3l-icon span {
	color: #03C5E2;
	font-size: 20px;
}

.w3ls_footer_grid_left p {
	color: #fff;
	line-height: 2em;
	float: left;
	font-size: 14px;
	letter-spacing: 1px;
}

.w3ls_footer_grid_left p span {
	display: block;
}

.w3ls_footer_grid_left p a {
	color: #fff;
	text-decoration: none;
}

.w3_agileits_footer_grid_left {
	float: left;
	width: 33.33%;
	border: 4px solid rgba(18, 18, 18, 0.18);
}

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
	display: block;
	max-width: 100%;
	height: auto;
}

.agileinfo_copyright {
	margin: 1em 0 0;
	padding: 1em 0 0;
	border-top: 1px solid rgba(130, 130, 130, 0.25);
	text-align: center;
}

.agileinfo_copyright p {
	color: #fff;
	line-height: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 15px;
}

@media (max-width: 1080px) {
	.w3_agile_footer_grid h3 {
		font-size: 22px;
	}
	.w3_agile_footer_grid li {
		font-size: 14px;
		padding-right: 0px;
		letter-spacing: 0px;
	}
	.agileinfo_copyright p {
		font-size: 14px;
	}
}

@media (max-width: 991px) {
	.w3_agile_footer_grid li {
		padding-right: 40px;
	}
	.w3_agile_footer_grid:nth-child(2) {
		margin-bottom: 4em;
	}
}

@media (max-width: 640px) {
	.w3_agile_footer_grid li {
		padding-right: 15px;
	}
}

@media (max-width: 568px) {
	.w3_agile_footer_grid h3 {
		font-size: 20px;
	}
}

@media (max-width: 480px) {
	.w3_agile_footer_grid.right {
		padding: 5px;
	}
}

@media (max-width: 414px) {
	.agileinfo_copyright p {
		letter-spacing: 1px;
	}
	.w3_agile_footer_grid {
		padding: 5px;
		width: 80%;
		float: none;
		margin: 0 auto;
		margin-bottom: 1em;
	}
	.w3_agile_footer_grid {
		padding: 5px;
		width: 80%;
		float: none;
		margin: 0 auto;
		margin-bottom: 1em;
	}
	.w3_agile_footer_grid:nth-child(2) {
		margin-bottom: 1em;
	}
	.w3_agile_footer_grid:nth-child(4) {
		margin-bottom: 0em;
	}
}

@media (max-width: 384px) {
	.w3_agile_footer_grid {
		width: 90%;
	}
	.w3_agile_footer_grid {
		width: 90%;
	}
}